@model lab5.Models.ModelLab

<div class="container">
    <h1>Лабораторна робота 2</h1>
    <p>
        Умова задачі: Карта лабіринту є квадратне поле розміром N×N. Деякі квадрати цього поля
        заборонені для проходження. Крок у лабіринті – переміщення з однієї дозволеної
        клітини до іншої дозволеної клітини, суміжної з першою стороною. Шлях – це
        певна послідовність таких кроків. При цьому кожну клітину, включаючи
        початкову та кінцеву, можна відвідувати кілька разів.
    </p>

    <form asp-controller="Labs" asp-action="Calculate" method="post">
        <div class="form-group">
            <label for="Input">
                Введіть числа N і K, розділені пробілом (1 < N ≤ 15, 0 < K ≤ 30):
            </label>
            <input asp-for="NumberOfLab" type="hidden" value="2" />
            <textarea asp-for="Input" class="form-control" id="Input" rows="7"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Обчислити</button>
    </form>
    <div class="form-group">
        <label for="Output">
            Кількість можливих різних шляхів довжини K:
        </label>
        <input asp-for="Output" class="form-control" id="Output" readonly />
    </div>

    <h2>Вхідні та вихідні дані</h2>
    <p>
        Вхідний файл INPUT.TXT містить у першому рядку числа N і K, розділені
        пробілом N або рівне 15, та K менше або рівне 30. Наступні N рядків, N символів у кожному,
        містять карту лабіринту, починаючи з клітини (1, 1). Символ "0" означає не
        заборонену для проходження клітину, а символ "1" - заборонену. Початкова та
        кінцева клітини завжди дозволені для проходження.
    </p>
    <p>
        Вихідний файл OUTPUT.TXT повинен містити кількість можливих різних
        шляхів довжини K. У всіх тестах це значення не перевищуватиме 2147483647.
    </p>

    <h2>Приклади</h2>
    <p>
        INPUT: <br />
        2 8<br />
        01<br />
        01<br />
        OUTPUT: 1
    </p>
</div>