﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <header class="my-4">
        <h1 class="text-center">Опис 5 лабораторної роботи</h1>
    </header>
    <section>
        <h2 class="my-4">Дисципліна: Кросплатформене програмування</h2>
        <p>
            Виконав: Гнатішин Юрій ІПЗ-42
        </p>
    </section>
</div>